@import './var.less';

.van-contact-card {
  .theme(padding, '@padding-md');

  &--add {
    .van-contact-card__value {
      .theme(line-height, '@contact-card-add-icon-size');
    }

    .van-cell__left-icon {
      .theme(color, '@contact-card-add-icon-color');
      .theme(font-size, '@contact-card-add-icon-size');
    }
  }

  &::before {
    position: absolute;
    right: 0;
    bottom: 0;
    left: 0;
    height: 4px;
    background: repeating-linear-gradient(
      -45deg,
      #ff6c6c 0,
      #ff6c6c 20%,
      transparent 0,
      transparent 25%,
      #1989fa 0,
      #1989fa 45%,
      transparent 0,
      transparent 50%
    );
    background-size: 160px;
    content: '';
  }
}

.van-contact-list {
  box-sizing: border-box;
  height: 100%;

  &__item {
    .theme(padding, '@contact-list-item-padding');
  }
}
