*.log
*.json
*.css
*.less
*.scss
*.html
*.md
*.lock
*.swp

.github
.cache
.temp
.idea
.rn_temp
.DS_Store
.editorconfig
.eslintignore
.gitignore
.prettierignore
.prettierrc
.stylelintignore
LICENSE

node_modules
packages/**/coverage
packages/**/dist
packages/**/node_modules
packages/taro-vant/lib
packages/taro-vant/es
packages/taro-vant-demo/weapp
packages/taro-vant-demo/alipay
packages/taro-vant-demo/swan
packages/taro-vant-demo/h5
packages/taro-vant-demo/tt
packages/taro-vant-demo/qq
packages/taro-vant-demo/dd
packages/taro-vant-demo/qywx
packages/taro-vant-demo/jd
packages/taro-vant-demo/iot
packages/taro-vant-demo/build
packages/taro-vant-demo/dist
