*.log
*.swp
yarn.lock
.cache
.temp
../../.idea
.rn_temp
.DS_Store
project.private.config.json
.idea

pullRequest.js
package-lock.json

node_modules
packages/**/coverage
packages/**/yarn.lock
packages/**/dist
packages/taro-vant/lib
packages/taro-vant/es
packages/taro-vant-doc/lib
packages/taro-vant-doc/es
packages/taro-vant-doc/dist
packages/taro-vant-doc/site
packages/taro-vant-demo/weapp
packages/taro-vant-demo/alipay
packages/taro-vant-demo/swan
packages/taro-vant-demo/h5
packages/taro-vant-demo/tt
packages/taro-vant-demo/qq
packages/taro-vant-demo/dd
packages/taro-vant-demo/qywx
packages/taro-vant-demo/jd
packages/taro-vant-demo/iot
packages/taro-vant-demo/build
packages/taro-vant-demo/dist
packages/taro-vant-cli/dist
packages/taro-vant-cli/lib
