.content {
  background-color: #07c160;
  height: 300px;
  text-align: center;
  vertical-align: center;
  padding-top: 100px;
  font-weight: bold;
  font-size: 60px;
  color: #fff;
}
.padding{
  padding-bottom: 50px;
}
