@import './var.less';

.van-cascader {
  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    .theme(height,'@cascader-header-height');
    .theme(padding,'@cascader-header-padding');
  }

  &__title {
    .theme(padding,'@cascader-header-padding');
    .theme(font-weight,'@font-weight-bold');
    .theme(font-size,'@cascader-title-font-size');
    .theme(line-height,'@cascader-title-line-height');
  }

  &__close-icon {
    .theme(color,'@cascader-close-icon-color');
    .theme(font-size,'@cascader-close-icon-size');

    &:active {
      .theme(color,'@cascader-close-icon-active-color');
    }
  }

  &__tabs {
    .van-tab {
      flex: none;
      padding: 0 20px;
    }

    &.van-tabs--line .van-tabs__wrap {
      .theme(height,'@cascader-tabs-height');
    }

    .van-tabs__nav--complete {
      padding-right: 12px;
      padding-left: 12px;
    }
  }

  &__tab {
    .theme(color,'@cascader-tab-color');
    .theme(font-weight,'@font-weight-bold');

    &--unselected {
      font-weight: normal;
      .theme(color,'@cascader-unselected-tab-color');
    }
  }

  &__option {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px @padding-md;
    cursor: pointer;
    .theme(font-size,'@font-size-md');
    .theme(line-height,'@line-height-md');

    &:active {
      .theme(background-color,'@active-color');
    }

    &--selected {
      .theme(color,'@cascader-active-color');
      .theme(font-weight,'@font-weight-bold');
    }

    &--disabled {
      cursor: not-allowed;
      .theme(color,'@cascader-option-disabled-color');
      &:active {
        background-color: transparent;
      }
    }
  }

  &__selected-icon {
    .theme(font-size,'@cascader-selected-icon-size');
  }

  &__options {
    box-sizing: border-box;
    padding-top: 12px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    .theme(height,'@cascader-options-height');
  }
}
